# =========================
# 1. Данные и датасеты
# =========================
# Игнорируем папку с исходными картинками и разметкой, чтобы не забивать GitHub
data/

# =========================
# 2. Веса моделей
# =========================
# Игнорируем ВСЕ сохраненные веса и чекпоинты
weights/*.pth
weights/*.pt
weights/*.ckpt

# НО разрешаем (оставляем) только лучшие веса
!weights/*best.pth

# =========================
# 3. Виртуальное окружение
# =========================
venv/
env/
.venv/

# =========================
# 4. Кэш Python и Jupyter
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# =========================
# 5. Настройки IDE и ОС
# =========================
# Файлы PyCharm и VS Code
.idea/
.vscode/

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# =========================
# 6. Прочее (Логи)
# =========================
*.log