# Главный фреймворк для глубокого обучения и работы с тензорами
torch
torchvision

# Обработка изображений и геометрия
opencv-python
numpy
pandas
matplotlib

# Мощные аугментации для спутниковых снимков
albumentations

# Веб-интерфейс нашего приложения
streamlit

# Индикатор прогресса в консоли при обучении моделей
tqdm
